{% extends 'base.html' %}

{% block title%}topics{% endblock %}

{% block header %}
    {% include 'partial/search.html' %}
{% endblock %}

{% block content %}
<h1> Темы </h1>

  {% for topic in topics %}
  
    <a href="{% url 'topic_detail' topic.pk %}" class="text-decoration-none">
        <div class="wrapper d-flex justify-content-between mb-2" style="color: black; height: 40px; border-bottom: solid; cursor: pointer">
            <p>{{ topic.title }}</p>
            <p>{{ topic.created_at }}</p>
            <p>{{ topic.author }}</p>
            <p>ответов {{ topic.comments.count }}</p>
        </div>
    </a>
  
  {% endfor %}
  {% if is_paginated %}
    {% include 'partial/pagination.html' %}
  {% endif%}
{% endblock%}
{% block link %}
{% endblock%}
