{% extends 'base.html' %}

{% block title%}topics{% endblock %}

{% block header %}
    <h1>topics</h1>
{% endblock %}

{% block content %}
<h1> This is main page</h1>
{% include 'partial/search.html' %}
    {% for topic in topics %}
    <div class="wrapper">
        <p>Description - {{ topic.description }}</p>
        <p>Author - {{ topic.author }}</p>
        <p>Comments - {{ post.comments.count }}</p>
        <a href="{% url 'topic_detail' topic.pk %}">View detail</a></p>
        {% comment %} {% if user.is_authenticated %}
            <a href="{% url 'task_edit' task.pk %}">Edit task</a>
            <span>|</span>
            <a href="{% url 'delete' task.pk %}">Delete task</a>
        {% endif %} {% endcomment %}
        {% for comment in comments %}
           <p>{{ comment }}</p>
        {% endfor %}
    </div>
    {% endfor %}
    {% if is_paginated %}
        {% include 'partial/pagination.html' %}
    {% endif%}
{% endblock%}
{% block link %}
{% endblock%}